<h1>{{artistInfo.name}}</h1>

<div class="top-right">
    <div class="dropdown">
        <p class="fake-link">Options</p>
        <div class="dropdown-content">
            <div class="dropdown-option" (click)="enterEditMode()">Edit Details</div>
            <div class="dropdown-option" (click)="markDuplicate()">Mark as Duplicate</div>
        </div>
    </div>
</div>

<h2>Songs:</h2>
<div>
    Selected Series:
    <select *ngIf="chartSelectOptions" [(ngModel)]="selectedSeries" (click)="reloadArtist()">
        <ng-container *ngFor="let chart of chartSelectOptions">
            <option>{{chart}}</option>
        </ng-container>
    </select>
</div>

<ng-container *ngIf="artistInfo.songs; else loading">
    <table>
        <tr>
            <th>Debut</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Weeks On</th>
            <th>Peak</th>
        </tr>
        <ng-container *ngFor="let song of artistInfo.songs">
            <ng-container *ngIf="song.charts[selectedSeries]">
                <tr>
                    <td><a [routerLink]="['/series', selectedSeries, 'chart', song.charts[selectedSeries][0].chart]">{{song.charts[selectedSeries][0].chart}}</a></td>
                    <td>{{song.artistDisplay}}</td>
                    <td><a [routerLink]="['/song', song._id]">{{song.title}}</a></td>
                    <td>{{song.charts[selectedSeries].length}}</td>
                    <td>{{song.charts[selectedSeries].peak}}</td>
                </tr>
            </ng-container>
        </ng-container>
    </table>
    <button (click)="copyChartHistory()">Copy BBCode To Clipboard</button>
</ng-container>

<ng-template #loading>Loading...</ng-template>

<mark-duplicate-modal #markDuplicateModal></mark-duplicate-modal>