.fake-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.top-right {
    position:absolute;
    top: 0px;
    right: 0px;
}

#artist-details {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-align: left;
}

#artist-square {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  background-color:lightgray;
  margin: 0.5rem;
}

.xxlarge {
  font-size: 3rem;
}

.artist-header {
  display: flex;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
  align-items: center;
}

.fa-lg {
  font-size: 5rem;
  color:grey
}

#center-guitar {
  margin-top: 2rem;
  margin-right: 0.5rem
}

table .table-item:hover {
  background-color: rgb(135, 134, 134);
}

.pad {
  padding: 0 1rem;
}

button {
  width: 15rem;
  margin-top: 0.5rem
}
