.fake-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.top-right {
    position:absolute;
    top: 0px;
    right: 0px;
}

#artist-details {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-align: left;
}

#artist-square {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  background-color:lightgray;
  margin: 0.5rem;
}

.xxlarge {
  font-size: 3rem;
}

.artist-header {
  display: flex;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
  align-items: center;
}

.fa-lg {
  font-size: 5rem;
  color:grey
}

#center-guitar {
  margin-top: 2rem;
  margin-right: 0.5rem
}

table tr:nth-child(odd) {
  background-color: lightgrey;
}

table tr:nth-child(even) {
  background-color: rgb(169, 167, 167);
}

table .table-item:hover {
  background-color: rgb(135, 134, 134);
}

table th {
  background-color: black;
  color: white;
  padding: 0.25rem 0.5rem;
}

td a {
  text-decoration: none;
  color: black;
}

.song-title div {
  font-size: large;
}

.song-title {
  margin: 1rem 0;
  padding: 0 1rem;
}

.pad {
  padding: 0 1rem;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0rem
  }
  
  /* Links inside the dropdown */
  .dropdown-content .dropdown-option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content .dropdown-option:hover {background-color: #ddd; cursor: pointer;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}