<p>Number of artists: {{artistCount}}</p>
<search [options]="searchOptions" (changeEvent)="setDisplayedArtists($event)"></search>
<div class="row">
    <div *ngIf="pageNumber > 1" class="button" (click)="decPageNumber()">Previous Page</div>
    <div *ngIf="artistCount && artistCount > pageNumber * 20" class="button" (click)="incPageNumber()">Next Page</div>
</div>
<!--Currently no need for sort as artists only have a name-->
<ng-container *ngFor="let artist of artists">
    <a [routerLink]="['/artist', artist._id]">
        <div class="select-option">
            <p>{{artist.name}}</p>
        </div>
    </a>
</ng-container>