<h1>Edit Chart</h1>
<form [formGroup]="chartForm" (ngSubmit)="onSubmit()">
    <div class="input-option">
        <label for="chart-name">Chart Name: </label>
        <input id="chart-name" type="text" formControlName="name">
        <input type="checkbox" [(ngModel)]="useDateAsTitle" (change)="onCheckboxChange()"
            [ngModelOptions]="{standalone: true}">
        Use date as title
    </div>
    <div class="input-option">
        <label>Chart Date:
            <input [matDatepicker]="chartDatepicker" formControlName="date">
            <mat-datepicker-toggle [for]="chartDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #chartDatepicker></mat-datepicker>
        </label>
    </div>

    <td><button type="submit" class="submit-chart" [disabled]="!chartForm.valid">Submit</button></td>

</form>