<custom-modal #modal [modalConfig]="modalConfig">
    <b>Please search for the {{options.type}} this is a duplicate of:</b>
    <search [options]="searchOptions" (changeEvent)="setSuggestions($event)"></search>
    <div (click)="selectItem(item)" 
        [ngClass]="item._id === selectedId ? 'bold' : 'fake-link'" 
        *ngFor="let item of suggestions">
        <!-- *ngIf to prevent us making a song a duplicate of itself -->
        <p *ngIf="type === 'song' && !(id === item._id)">{{item.artistDisplay}} - {{item.title}}</p>
        <p *ngIf="type === 'artist' && !(id === item._id)">{{item.name}}</p>
    </div>
</custom-modal>