.left {
    float: left;
}

.right {
    float: right;
    margin: 1rem;
}

.select-option {
    background-color: #eaeaea;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
}

.select-option:hover {
    background-color: #c3c1c1;
}

.select-option p {
    color: black;
    font-size: large;
}

a {
    text-decoration: none;
}

.button {
    color: white;
    padding: 0.4rem;
    background-color: black;
}

.button:hover {
    background-color: rgb(46, 46, 46)
}