.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-box {
    width: 25vw;
    border: 0.1rem solid black;
    padding: -0.5rem 0.5rem;
    background-color:rgb(249, 249, 249)
}

.song-to-place {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid black;
}

.selected {
    background-color: lightblue;
}

.clickable {
    cursor: pointer;
}

.move-button {
    width: 15rem
}

.row {
    display: flex;
}

.number-box {
    width: 2.5vw;
    border: 0.1rem solid black;
    margin: 0rem 0.5rem 0rem 0rem;
    background-color:rgb(249, 249, 249)
}

.right {
    float: right;
    margin: 1rem;
}

fa-icon {
    color: grey;
    cursor: pointer;
    padding: 0.5rem;
}

.icon-selected {
    background-color: darkgray;
    color: white;
}