<div class="centre">
    <h1 class="text-center">Cumulative Total Calculator</h1>
    <form [formGroup]="totalsForm" (ngSubmit)="onSubmit()">
        <div class="centre">
            <label>Series:
                <select formControlName="series">
                    <ng-container *ngFor="let series of seriesList">
                        <option>{{series.name}}</option>
                    </ng-container>
                </select>
            </label>
        </div>
        <div class="centre">
            <label>From:
                <input [matDatepicker]="fromDatepicker" formControlName="from">
                <mat-datepicker-toggle [for]="fromDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromDatepicker></mat-datepicker>
            </label>
        </div>
        <div class="centre">
            <label>To:
                <input [matDatepicker]="toDatepicker" formControlName="to">
                <mat-datepicker-toggle [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
            </label>
        </div>
        <div class="centre">
            <label>Include full chart runs (including those starting/ending outside dates shown)
                <input type="checkbox" checked="true" formControlName="includeFullChartRun">
            </label>
        </div>
        <div class="centre">
            <label>Estimate future points of songs in chart on end date
                <input type="checkbox" checked="true" formControlName="estimateFuturePoints">
            </label>
        </div>
        <div class="centre">
            <label>Return top:
                <input type="text" value="100" formControlName="numberOfResults">
            </label>
        </div>
        <td class="centre"><button type="submit" [disabled]="!totalsForm.valid">Submit</button></td>
    </form>
    <div *ngIf="calculating">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="leaderboard.length > 0">
        <div class="centre"><button (click)="export()">Export to CSV</button></div>
        <table class="song-table">
            <tr>
                <th>Pos</th>
                <th>Song</th>
                <th>Points</th>
            </tr>
            <ng-container *ngFor="let song of leaderboard; let i = index">
                <tr class="select-option">
                    <td class="text-center">{{i + 1}}</td>
                    <td>
                        <a [routerLink]="['/song', song._id]">
                            <div class="song-title">
                                <div><b>{{song.title}}</b></div>
                                <div><i>{{song.artistDisplay}}</i></div>
                            </div>
                        </a>
                    </td>
                    <td class="text-center">{{song.totalPoints}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>