<div class="row right">
    <div (click)="copyPlaintext()" title="Copy Chart"><fa-icon [icon]="faCopy" class="fa-lg"></fa-icon></div>
    <a routerLink="./edit" title="Edit Details"><fa-icon [icon]="faPenSquare" class="fa-lg"></fa-icon></a>
    <div (click)="openModal()" title="Delete Chart"><fa-icon [icon]="faTrash" class="fa-lg"></fa-icon></div>
    <a [routerLink]="['..', 'new']" title="Upload New Chart"><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon></a>
</div>
<div class="centre">
    <a routerLink="../">
        <h1>{{seriesName}}</h1>
    </a>
    <h2>{{chartName}}</h2>
    <ng-container *ngIf="chartData; else loading">
        <div class="row">
            <a class="button" id="prev-chart" *ngIf="lastChart" [routerLink]="['..', lastChart]">Previous</a>
            <a class="button" id="next-chart" *ngIf="nextChart" [routerLink]="['..', nextChart]">Next</a>
        </div>
        <div class="row">
            <ng-container *ngFor="let size of availableSizes">
                <p class="button" (click)="setChartSize(size)">Top {{size}}</p>
            </ng-container>
            <ng-container *ngIf="availableSizes.length > 0">
                <p class="button" (click)="setChartSize()">Full Chart</p>
            </ng-container>
        </div>
        <table class="song-table">
            <tr>
                <th>Pos</th>
                <th>Last Week</th>
                <th>Song</th>
                <th>Peak</th>
                <th>Weeks</th>
            </tr>
            <ng-container *ngFor="let song of chartData">
                <tr class="select-option">
                    <td class="text-center">{{song.position}}</td>
                    <td class="text-center">{{song.lastWeek || (song.weeksOn > 1 ? 'RE' : 'NEW')}}</td>
                    <td>
                        <a [routerLink]="['/song', song._id]">
                            <div class="song-title">
                                <div><b>{{song.title}}</b></div>
                                <div><i>{{song.artistDisplay}}</i></div>
                            </div>
                        </a>
                    </td>
                    <td class="text-center">{{song.peak}}</td>
                    <td class="text-center">{{song.weeksOn}}</td>
                </tr>
            </ng-container>
        </table>
    </ng-container>
</div>

<delete-item-modal #deleteItemModal></delete-item-modal>

<ng-template #loading><mat-spinner></mat-spinner></ng-template>