<a routerLink="../"><h1>{{seriesName}}</h1></a>
<h2>{{chartName}}</h2>
<div class="top-right">
    <a routerLink="./edit">Edit Details</a>
</div>
<ng-container *ngIf="chartData; else loading">
    <a *ngIf="lastChart" [routerLink]="['..', lastChart]">Previous</a>
    <a *ngIf="nextChart" [routerLink]="['..', nextChart]">Next</a>
    <table>
        <tr>
            <th>Pos</th>
            <th>Last Week</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Peak</th>
            <th>Weeks</th>
        </tr>
        <!--Either need to fetch all this info separately on the server and calculate on the client
            Or calculate on the server-->
        <!--Last Week: Given a chart, return the immediately preceding chart and get the position for that
            Peak: Given a chart, get all preceding charts and find the highest value within that range
            Weeks: Given a chart, get all preceding charts and find the number that appear-->
        <ng-container *ngFor="let song of chartData">
            <tr>
                <td>{{song.position}}</td>
                <td>{{song.lastWeek || (song.weeksOn > 1 ? 'RE' : 'NEW')}}</td>
                <td>{{song.artistDisplay}}</td>
                <td><a [routerLink]="['/song', song._id]">{{song.title}}</a></td>
                <td>{{song.peak}}</td>
                <td>{{song.weeksOn}}</td>
            </tr>
        </ng-container>
    </table>
</ng-container>

<ng-template #loading>Loading...</ng-template>