table, th, td{
    border: 1px solid blue
}

.fake-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.right {
    float: right;
}

.row {
    display: flex;
    margin: 1rem 0;
}

fa-icon {
    color: grey;
    cursor: pointer;
    padding: 0.5rem;
}

fa-icon:hover {
    background-color: lightgrey;
}