<div class="row right">
    <a routerLink="./edit" title="Edit Details"><fa-icon [icon]="faPenSquare" class="fa-lg"></fa-icon></a>
    <div (click)="openModal()" title="Delete Chart"><fa-icon [icon]="faTrash" class="fa-lg"></fa-icon></div>
    <a [routerLink]="['..', 'new']" title="Upload New Chart"><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon></a>
</div>
<a routerLink="../">
    <h1>{{seriesName}}</h1>
</a>
<h2>{{chartName}}</h2>
<ng-container *ngIf="chartData; else loading">
    <a id="prev-chart" *ngIf="lastChart" [routerLink]="['..', lastChart]">Previous</a>
    <a id="next-chart" *ngIf="nextChart" [routerLink]="['..', nextChart]">Next</a>
    <table>
        <tr>
            <th>Pos</th>
            <th>Last Week</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Peak</th>
            <th>Weeks</th>
        </tr>
        <!--Either need to fetch all this info separately on the server and calculate on the client
            Or calculate on the server-->
        <!--Last Week: Given a chart, return the immediately preceding chart and get the position for that
            Peak: Given a chart, get all preceding charts and find the highest value within that range
            Weeks: Given a chart, get all preceding charts and find the number that appear-->
        <ng-container *ngFor="let song of chartData">
            <tr>
                <td>{{song.position}}</td>
                <td>{{song.lastWeek || (song.weeksOn > 1 ? 'RE' : 'NEW')}}</td>
                <td>{{song.artistDisplay}}</td>
                <td><a [routerLink]="['/song', song._id]">{{song.title}}</a></td>
                <td>{{song.peak}}</td>
                <td>{{song.weeksOn}}</td>
            </tr>
        </ng-container>
    </table>
</ng-container>

<delete-item-modal #deleteItemModal></delete-item-modal>

<ng-template #loading>Loading...</ng-template>