<div class="container">
    <h1>{{songInfo?.artistDisplay}} - {{songInfo?.title}}</h1>
    <!-- This is displayed if just looking at the song page -->
    <div *ngIf="!editMode">
        <table>
            <tr>
                <td>Title</td>
                <td>{{songInfo?.title || ''}}</td>
            </tr>
            <tr>
                <td>Artist(s)</td>
                <td>
                    <p *ngFor="let artist of songInfo?.artists || []">
                        <a [routerLink]="['/artist', artist._id]">{{artist.name}}</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Weeks on Chart</td>
                <td>{{weeksOn}}</td>
            </tr>
            <tr>
                <td>Peak Position</td>
                <td>{{peak}}</td>
            </tr>
        </table>
    </div>
    <!-- This is displayed when song details are being edited -->
    <div *ngIf="editMode">
        <div>
            <form [formGroup]="songDetailsForm">

                <label for="title">Title Section: </label>
                <input id="title" type="text" formControlName="title"><br>

                <label for="artist-display">Artist Section: </label>
                <input id="artist-display" type="text" formControlName="artistDisplay">
                <artist-selector [artists]="artistNames" (artistsChangeEvent)="updateArtists($event)">
                </artist-selector>
            </form>
            <button (click)="updateSongDetails()">Save</button>
            <button (click)="exitEditMode()">Cancel</button>
        </div>
    </div>
    <div class="top-right">
        <div class="dropdown">
            <p class="fake-link">Options</p>
            <div class="dropdown-content">
                <div class="dropdown-option" (click)="enterEditMode()">Edit Details</div>
                <div class="dropdown-option" (click)="markDuplicate()">Mark as Duplicate</div>
                <div class="dropdown-option" (click)="copyDisplay()">Copy BBCode Display</div>
            </div>
        </div>
    </div>
    <h2>Chart Run:</h2>
    <div>
        Selected Series:
        <select *ngIf="chartSelectOptions" [(ngModel)]="selectedSeries" (click)="reloadSongDetails()">
            <ng-container *ngFor="let chart of chartSelectOptions">
                <option>{{chart}}</option>
            </ng-container>
        </select>
    </div>
    <div *ngIf="chartSelectOptions">
        <!--<mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
            <mat-option *ngFor="let key of chartSelectOptions">
                {{key}}
            </mat-option>
        </mat-select>
    </mat-form-field>-->
    </div>
    <ng-container *ngIf="songInfo?.charts && songInfo?.charts[selectedSeries]; else loading">
        <table>
            <tr>
                <th>Chart</th>
                <th>Pos</th>
            </tr>
            <ng-container *ngFor="let val of songInfo?.charts[selectedSeries]">
                <tr [class.peak] = "val.position === peak">
                    <td><a [routerLink]="['/series', selectedSeries, 'chart', val.chart]">{{val.chart}}</a></td>
                    <td>{{val.position}}</td>
                </tr>
            </ng-container>
        </table>
        <button (click)="copyChartRun()">Copy BBCode To Clipboard</button>
    </ng-container>
</div>

<ng-template #loading>Loading...</ng-template>

<mark-duplicate-modal #markDuplicateModal></mark-duplicate-modal>