.infobox {
  background-color: lightgray;
  font-size: large;
  margin: 0.5rem
}

.infobox td {
  border-spacing: 5rem
}

.top-right {
    position:absolute;
    top: 0px;
    right: 0px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fake-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.song-header {
  display: flex;
}

.text-center {
  text-align: center;
}

#song-square {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  background-color:lightgray;
  margin: 0.5rem;
}

#song-details {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-align: left;
}

.xlarge {
  font-size: x-large;
}

.xxlarge {
  font-size: xx-large;
}

.artist-link {
  margin: 0 0.25rem;
  color: black;
}

.artist-link:hover {
  text-decoration: none;
}

.fa-lg {
  font-size: 5rem;
  color:grey
}

#center-music-note {
  margin-top: 2rem;
  margin-right: 0.5rem
}

.run-header {
  font-size: large;
  margin-bottom: -1rem;
}

.position {
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgb(169, 167, 167);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem
}

.position:hover {
  background-color: rgb(135, 134, 134);
}

.position:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin-bottom: 6rem;
  border-radius: 10%;
}

.position-link {
  text-decoration: none;
}

.position p {
  color: black;
}

.peak {
  background-color: #D7E5F0;
}

.chart-run-container {
  margin: 0.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 15rem;
  margin-top: 0.5rem
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0rem
  }
  
  /* Links inside the dropdown */
  .dropdown-content .dropdown-option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content .dropdown-option:hover {background-color: #ddd; cursor: pointer;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}